.card-text {
  padding: 28px 0;
}

.card-subtitle {
  font-family: HelveticaNeue;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  font-weight: 100;
  padding-bottom: 5px;
}
