.footer-title {
  font-family: HelveticaNeue-Medium;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0.38px;
}

.footer-text {
  font-family: HelveticaNeue;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0.32px;
}

.footer-credits {
  font-family: HelveticaNeue;
  font-size: 8px;
  color: #ffffff;
  letter-spacing: 0.17px;
}
