.image-container {
  position: relative;
}

.image-desktop,
.image-mobile {
  display: none;
}

@media (min-width: 576px) {
  .image-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .image-desktop {
    padding: 18.75px 60px 132px;
  }
}

@media (max-width: 575px) {
  .image-mobile {
    display: block;
  }
}

.image-custom {
  width: 20%;
  height: auto;
}
