.menu-text {
  font-family: STHeitiSC-Light;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
}

.menu {
  background-color: white;
  text-align: center;
}
