.section-title {
  font-family: HelveticaNeue;
  font-size: 50px;
  color: #ffffff;
  letter-spacing: -0.35px;
  line-height: 53px;
  font-weight: 300;
}

.section-subtitle {
  font-family: HelveticaNeue;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  font-weight: 100;
  padding-bottom: 5px;
}

.section-subtitle-black {
  font-family: HelveticaNeue;
  font-size: 15px;
  color: #black;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  font-weight: 100;
  padding-bottom: 5px;
}

.section-text {
  padding: 28px 0;
}
