.l-menu {
  background-color: white;
  text-align: center;
  padding-top: 42px;
}

.l-product {
  background-color: black;
  padding-top: 57px;
  padding-left: 60px;
}

.l-values {
  background-color: #686565;
  margin: 60px;
  padding-top: 55px;
}

.l-recipes {
  background-color: white;
  padding-top: 57px;
  color: black;
}

.l-shop {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 69px;
  color: black;
}

.l-newsletter {
  background: #b0b0b0;
  padding-top: 20px;
  padding-bottom: 32px;
}

.l-footer {
  background-color: black;
  color: white;
}
